<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <style>
    .container {
      display: flex;
      width: 100%;
      padding: 40px 0;
      align-items: center;
      justify-content: center;
    }
    
    .container a {
      background: #7289DA;
      padding: 0 20px;
      line-height: 35px;
      color: #fff;
      font-family: 'Helvetica', 'Arial', sans-sefir;
      font-size: 20px;
      display: block;
      text-decoration: none;
      border-radius: 3px;
    }
  </style>
</head>
<body>
  <div class="container">
    <a href="https://discord.com/api/oauth2/authorize?client_id=960556273370292294&permissions=201326592&redirect_uri=https%3A%2F%2Fbanana-crisp-70788.herokuapp.com%2F&response_type=code&scope=bot%20guilds">Login through discord</a>
  </div>
</body>

</html>
